<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/favicon.png}"/>
    <link rel="bookmark" th:href="@{/favicon.png}"/>
    <title th:text="#{index.title}">不挂高数社区</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">
        body {
        / / background-image: url("https://api.isoyu.com/bing_images.php");
            background-color: #efefef;
        }

        .issue-right {
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: #efefef;
        }

        a:hover {
            text-decoration: none;
        }
        .my-nav {
            background-color: #efefef;
            color: black;
            border-radius: 10px;
        }

        .my-nav-active {
            background: #494a4b;
            color: white;
        }
        .my-nav:hover {
            background-color:#494a4b;
            color: white;
        }
        .hot-tag {
            background-color: #99cfff;
        }
        .hot-tag:hover{
            background-color: #23527c;
        }
        .hot-question {
            padding: 5px;
        }

    </style>
    <script type="text/javascript">
        if (window.localStorage.getItem("closable") === "true") {
            window.localStorage.removeItem("closable");
            window.close();
        }
    </script>
</head>
<body>
<!-- 标题栏 使用  fixed-top 将标题栏固定在顶部 -->
<div th:insert="~{navigation :: navbar}"></div>


<div class="container" style="height: 30px">
</div>
<div class="container" style="padding-left: 0">
    <ul class="nav nav-pills">
        <li class="nav-item my-nav">
            <a class="nav-link my-nav my-nav-active" th:class="${class == '0'}? 'nav-link my-nav my-nav-active' : 'nav-link my-nav'" th:href="@{/(tag=${tag},sort=${sort},class=0)}">全部</a>
        </li>
        <li class="nav-item my-nav ml-2">
            <a class="nav-link my-nav" th:class="${class == '1'}? 'nav-link my-nav my-nav-active' : 'nav-link my-nav'" th:href="@{/(tag=${tag},sort=${sort},class=1)}">提问</a>
        </li>
        <li class="nav-item ml-2 my-nav">
            <a class="nav-link my-nav" th:class="${class == '2'}? 'nav-link my-nav my-nav-active' : 'nav-link my-nav'" th:href="@{/(tag=${tag},sort=${sort},class=2)}">讨论</a>
        </li>
        <li class="nav-item ml-2 my-nav">
            <a class="nav-link my-nav" th:class="${class == '3'}? 'nav-link my-nav my-nav-active' : 'nav-link my-nav'" th:href="@{/(tag=${tag},sort=${sort},class=3)}">分享</a>
        </li>
        <li class="nav-item ml-2 my-nav">
            <a class="nav-link my-nav" th:class="${class == '4'}? 'nav-link my-nav my-nav-active' : 'nav-link my-nav'" th:href="@{/(tag=${tag},sort=${sort},class=4)}">建议</a>
        </li>
        <li class="nav-item ml-2 my-nav">
            <a class="nav-link my-nav" th:class="${class == '5'}? 'nav-link my-nav my-nav-active' : 'nav-link my-nav'" th:href="@{/(tag=${tag},sort=${sort},class=5)}">Bug</a>
        </li>
        <li class="nav-item ml-2 my-nav">
            <a class="nav-link my-nav" th:class="${class == '6'}? 'nav-link my-nav my-nav-active' : 'nav-link my-nav'" th:href="@{/(tag=${tag},sort=${sort},class=6)}">灌水</a>
        </li>
    </ul>
</div>
<div class="container" style="height: 30px">
</div>
<!-- 帖子列表显示 -->
<div class="container shadow-sm" style="background-color: white;">
    <div class="row">
        <!-- 左边 -->
        <div class="col-xl-9 mt-3 issue-right">
            <!-- 帖子列表头 -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4>
                            <img th:if="${tagClass==null}" src="image/icon/found.svg" width="35" height="35"/>
                            <img th:if="${tagClass!=null}" th:src="${tagClass.getImage()}" width="35" height="auto">
                            <span th:if="${tag != null}" th:text="${tag}">

                            </span>
                            <span th:if="${tag==null || tag == ''}">发现</span>
                            <span th:if="${sort == '0'}" style="font-size: 15px">(零回复)</span>
                            <span th:if="${sort == '3'}" style="font-size: 15px">(最新)</span>
                        </h4>
                    </div>
                    <div class="col-7">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" id="new-nav" th:href="@{/(tag=${tag},sort=3,class=${class})}">最新</a>
                            </li>
                            <!--<li class="nav-item">-->
                                <!--<a class="nav-link" href="#" onclick="alert('正在施工中！！！')">热门</a>-->
                            <!--</li>-->
                            <li class="nav-item">
                                <a class="nav-link" id="no-nav" th:href="@{/(tag=${tag},sort=0,class=${class})}" style="color: red;">消灭零回复</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr style="margin-top: 0%;">
            </div>
            <!--置顶帖-->
            <div th:if="${TopQuestion != null}" th:each="question : ${TopQuestion}">
                <div class="media">
                    <img class="align-self-center mr-3 img-fluid rounded-circle" th:src="${question.user.headUrl}"
                         src="image/head/boyhead.png"
                         style="max-width: 64px; height: auto; ">
                    <div class="media-body">
                        <h5 class="mt-0"><a class="link-to-text" target="_blank"
                                            th:href="'/question/' + ${question.getQuestionId()}"
                                            th:text="${question.title}">中间对齐</a>
                            <span class="badge badge-primary">置顶</span>
                        </h5>
                        <!-- TODO 等待添加摘要 -->
                        <!--<p class="mb-1">Cras sit amet nibh libero</p>-->

                        <p class="mb-0 small">
                            <!--TODO 链接待修改-->
                            <a class="issuse-question-class" href="#"
                               th:text="${question.classification}">分类</a>
                            <a class="issuse-question-people" target="_blank"
                               th:href="'/user/'+ ${question.user.getUserId()}"
                               th:text="${question.user.userName}">人名</a>
                            <!--<span class="issuse-question-span">是作者-->
                                <!--•<span th:text="${question.likeCount}">人数</span><span>人关注</span>-->
                                <!--•<span th:text="${question.commentCount}">人数</span><span>个回复</span>-->
                                <!--•<span th:text="${question.viewCount}">人数</span><span>次浏览</span>-->
                                <!--•<span>最新回复时间：</span><span th:text="${question.alterTime}">人数</span>-->
                            <!--</span>-->
                        </p>
                    </div>
                </div>
                <hr/>
            </div>

            <!-- 帖子 -->
            <div th:each="question : ${paginationDto.data}">
                <div class="media">
                    <img class="align-self-center mr-3 img-fluid rounded-circle" th:src="${question.user.headUrl}"
                         src="image/head/boyhead.png"
                         style="max-width: 64px; height: auto; ">
                    <div class="media-body">
                        <h5 class="mt-0"><a class="link-to-text" target="_blank"
                                            th:href="'/question/' + ${question.getQuestionId()}"
                                            th:text="${question.title}">中间对齐</a></h5>
                        <!-- TODO 等待添加摘要 -->
                        <!--<p class="mb-1">Cras sit amet nibh libero</p>-->

                        <p class="mb-0 small">
                            <!--TODO 链接待修改-->
                            <a class="issuse-question-class" href="#"
                               th:text="${question.classification}">分类</a>
                            <a class="issuse-question-people" target="_blank"
                               th:href="'/user/'+ ${question.user.getUserId()}"
                               th:text="${question.user.userName}">人名</a>
                            <span class="issuse-question-span">是作者
                                •<span th:text="${question.likeCount}">人数</span><span>人点赞</span>
                                •<span th:text="${question.commentCount}">人数</span><span>个回复</span>
                                •<span th:text="${question.viewCount}">人数</span><span>次浏览</span>
                                •<span>最新回复时间：</span><span th:text="${question.alterTime}">人数</span>
                            </span>
                        </p>
                    </div>
                </div>
                <hr/>
            </div>
            <!-- 页码 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <!-- 返回首页 -->
                    <li class="page-item" th:if="${paginationDto.showFirstPage}">
                        <a class="page-link" id="first-page-a" th:href="@{/(page=1,tag=${tag},sort=${sort},class=${class})}"
                           aria-label="Previous"
                           onclick="addLocaleUrlForPage('first-page-a')">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <!-- 上一页 -->
                    <li class="page-item" th:if="${paginationDto.showPrevious}">
                        <a class="page-link" id="link-to-last-a"
                           th:href="@{/(page=${paginationDto.nowPage - 1},tag=${tag},sort=${sort},class=${class})}"
                           aria-label="Previous"
                           onclick="addLocaleUrlForPage('link-to-last-a')">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>


                    <li class="page-item" th:each="page : ${paginationDto.pages}"
                        th:class="${paginationDto.nowPage == page}? 'page-item active' : 'page-item'">
                        <a class="page-link" th:href="@{/(page=${page},tag=${tag},sort=${sort},class=${class})}" th:text="${page}"
                           th:id="${page}"
                           th:onclick="'javascript:addLocaleUrlForPage(\''+${page}+'\')'">
                            1
                        </a>
                    </li>


                    <!-- 下一页 -->
                    <li class="page-item" th:if="${paginationDto.showNext}">
                        <a class="page-link" id="lind-to-next-a"
                           th:href="@{/(page=${paginationDto.nowPage +1 },tag=${tag},sort=${sort},class=${class})}"
                           aria-label="Next"
                           onclick="addLocaleUrlForPage('lind-to-next-a')">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <!-- 最后一页 -->
                    <li class="page-item" th:if="${paginationDto.showEndPage}">
                        <a class="page-link" id="link-to-end-a" th:if="${paginationDto.showEndPage}"
                           th:href="@{/(page=${pagination.totalPage},tag=${tag},sort=${sort},class=${class})}"
                           aria-label="Next" onclick="addLocaleUrlForPage('link-to-end-a')">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- 右边 -->
        <div class="col">
            <br/>
            <div th:if="${tagClass!=null}">
                <div class="row">
                    <div class="col">
                        <h5>
                            话题描述：
                        </h5>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-success btn-sm">
                            关注
                            <span class="badge badge-light" th:text="${tagClass.getFollowCount()}">9</span>
                        </button>
                    </div>
                </div>
                <hr/>
                <input id="tag-simple-desc" type="hidden" th:value="${tagClass.getSimpleDesc()}">
                <p id="tag-simple-desc-text" style="font-size: 15px">
                </p>
                <script>
                    document.getElementById("tag-simple-desc-text").innerHTML = document.getElementById("tag-simple-desc").getAttribute("value");
                </script>
                <hr/>
                <p>
                  话题讨论数：<span th:text="${tagClass.getTalkCount()}"></span>
                </p>
            </div>
            <br/>
            <p>
                广告位招租
            </p>
            <!-- 图片轮播 -->
            <div id="Advertisement" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#Advertisement" data-slide-to="0" class="active"></li>
                    <li data-target="#Advertisement" data-slide-to="1"></li>
                    <li data-target="#Advertisement" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="First slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="Second slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="Third slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#Advertisement" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#Advertisement" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br/>
            <h5 class="mb-2">
                <img class="mr-2" src="/image/icon/hot-tag.svg" width="20px" height="20px">
                热门标签
            </h5>

            <div class="content">
                <span th:each="tag : ${hots}">
                    <a class="mb-2" th:href="@{/(page=1,tag=${tag},sort=${sort})}">
                        <span class="badge badge-primary hot-tag" th:text="${tag}">Primary</span>
                    </a>
                </span>
            </div>
            <hr/>
            <h5 class="mb-2">
                <img class="mr-2" src="/image/icon/hot-question.svg" width="20px" height="20px">
                热门问题
            </h5>
            <div class="container mt-2" style="padding: 0px;">
                <div class="list-group">
                    <a th:each="hotQuestion : ${hotQuestions}" th:href="${'/question/' + hotQuestion.getQuestionId()}" class="list-group-item list-group-item-action hot-question">
                        <span th:if="${hotQuestionStat.index < 3}" class="badge badge-danger" th:text="${hotQuestionStat.index+1}">Danger</span>
                        <span th:if="${hotQuestionStat.index >= 3}" class="badge badge-secondary" th:text="${hotQuestionStat.index+1}">Danger</span>
                        <span class="ml-2" th:text="${hotQuestion.title}"></span>
                    </a>
                </div>
            </div>

            <br/><br/>
            <p><a class="link-to-text" href="#"><span style="color: red">New!</span>&nbsp;新闻</a></p>
            <!-- 图片轮播 -->
            <div id="news-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#news-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#news-carousel" data-slide-to="1"></li>
                    <li data-target="#news-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="First slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="Second slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="Third slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#news-carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#news-carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container" style="height: 30px">
    </div>
</div>


<!-- 页脚 -->
<div th:insert="~{footer :: footer}"></div>


<script src="/js/url.js" type="text/javascript"></script>
</body>
</html>