<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" th:href="@{/favicon.png}"/>
    <link rel="bookmark" th:href="@{/favicon.png}"/>
    <title th:text="#{index.writePost}">发布</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/editormd.min.css"/>
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/editormd.min.js"></script>

    <style type="text/css">
        body {
        / / background-image: url("https://api.isoyu.com/bing_images.php");
            background-color: #efefef;
        }

        .issue-right {
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: #efefef;
        }
        .bootstrap-tagsinput .label-info {
            border-radius: 4px;
            background-color: #1abc9c;
            color: #fff;
            font-size: 13px;
            cursor: pointer;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            overflow: hidden;
            margin: 0 5px 5px 0;
            padding: 6px 10px 6px 14px;
            transition: .25s linear;
        }
        span.tag-hand:hover {
            cursor: hand;
        }
    </style>
</head>
<body>
<!-- 标题栏 使用  fixed-top 将标题栏固定在顶部 -->
<div th:insert="~{navigation :: navbar}"></div>

<!-- 发布页面 -->
<div class="container" style="height: 30px">
</div>

<div class="container shadow-sm" style="background-color: white;">
    <div class="row">
        <div class="col-xl-9 mt-3 issue-right">
            <h2>
                <img src="/image/icon/publish.svg" width="45" height="45"/>
                [[#{publish.publish}]]
            </h2>
            <hr>
            <form action="/publish" method="post" name="question">

                <!--问题标题--->
                <div class="row">
                    <div class="col-9">
                        <div class="form-group">
                            <label for="issues-title">[[#{publish.issue.title}]]</label>
                            <input autocomplete="off" name="title" type="text" class="form-control" id="issues-title"
                                   th:placeholder="#{publish.issue.Title}" th:value="${question.getTitle()}">
                            <small id="titleHelp" class="form-text" style="color: red"
                                   th:text="${titleMessage}"></small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="issues-class">&nbsp;</label>
                            <select th:selected="${question.getClassification()}" class="form-control" id="issues-class"
                                    name="classification">
                                <option value="null" style="display: none;" selected>
                                    [[#{publish.classification}]]
                                </option>
                                <option value="开发语言">开发语言</option>
                                <option value="平台框架">平台框架</option>
                                <option value="服务器">服务器</option>
                                <option value="数据库缓存">数据库缓存</option>
                                <option value="开发工具">开发工具</option>
                                <option value="系统设备">系统设备</option>
                                <option value="休闲灌水">休闲灌水</option>
                            </select>
                            <small id="classHelp" class="form-text" style="color: red"
                                   th:text="${classMessage}"></small>
                        </div>
                    </div>
                </div>

                <!--问题内容--->
                <div id="question-edit" class="form-group mt-2">
                    <label for="issues-text">[[#{publish.issue.text}]]</label>
                    <textarea style="display: none;" id="issues-text" name="description" rows="6"
                              th:text="${question.getDescription()}">
                        ### 关于 Editor.md

**Editor.md** 是一款开源的、可嵌入的 Markdown 在线编辑器（组件），基于 CodeMirror、jQuery 和 Marked 构建。
                    </textarea>
                </div>
                <small id="textHelp" class="form-text" style="color: red" th:text="${textMessage}"></small>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("question-edit", {
                            width: "100%",
                            height: "400px",
                            delay: 0,
                            watch: true,
                            tex: true,
                            flowChart: true,
                            autoFocus: false,
                            imageUpload    : true,
                            imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL : "/api/file/image/upload",
                            emoji: true,
                            placeholder: "请输入回复内容",
                            path: "/js/lib/"
                        });
                    });
                </script>

                <input type="hidden" name="questionId" th:value="${question.getQuestionId()}">
                <!--上传附件--->
                <div class="row">
                    <div class="col-5">
                        <div class="form-group mb-3">
                            <p>[[#{publish.issue.updatefile}]]</p>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="issues-file" name="issuesFile">
                                <label class="custom-file-label"
                                       for="issues-file">[[#{publish.issue.chooseFile}]]</label>
                            </div>
                            <small id="fileHelp" class="form-text" style="color: red" th:text="${fileMessage}"></small>
                        </div>
                    </div>
                    <div class="col">
                        <p>&nbsp;</p>
                        <div class="container">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-info" data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                [[#{publish.issue.supportFileTitle}]]
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">
                                                [[#{publish.issue.supportFileTitle}]]</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" th:text="#{publish.issue.supportFile}">

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 添加标签 -->
                <div class="row mt-4">
                    <div class="container" onclick="showMayTag()">

                        <label for="issues-tag">[[#{publish.issue.addTag}]]
                            <!--添加标签：-->
                        </label>

                        <input id="issues-tag" name="tag" class="tagsinput" data-role="tagsinput" value=""
                               th:value="${question.getTag()}" th:placeholder="#{publish.issue.splitTag}"
                               style="height: 50%;" autocomplete="off" />

                        <small id="tagHelp" class="form-text mb-2" style="color: red" th:text="${tagMessage}"></small>
                        <div id="many-tag-show" style="display: none;">
                            <nav>
                                <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="program-language-tab" data-toggle="tab" href="#program-language" role="tab" aria-controls="program-language" aria-selected="true">开发语言</a>
                                    <a class="nav-item nav-link" id="frame-work-tab" data-toggle="tab" href="#frame-work" role="tab" aria-controls="frame-work" aria-selected="false">平台框架</a>
                                    <a class="nav-item nav-link" id="server-tab" data-toggle="tab" href="#server" role="tab" aria-controls="server" aria-selected="false">服务器</a>
                                    <a class="nav-item nav-link" id="database-tab" data-toggle="tab" href="#database" role="tab" aria-controls="database" aria-selected="false">数据库缓存</a>
                                    <a class="nav-item nav-link" id="develop-tool-tab" data-toggle="tab" href="#develop-tool" role="tab" aria-controls="develop-tool" aria-selected="false">开发工具</a>
                                    <a class="nav-item nav-link" id="system-tab" data-toggle="tab" href="#system" role="tab" aria-controls="system" aria-selected="false">系统设备</a>
                                    <a class="nav-item nav-link" id="have-fun-tab" data-toggle="tab" href="#have-fun" role="tab" aria-controls="have-fun" aria-selected="false">休闲灌水</a>

                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <!--开发语言-->
                                <div class="tab-pane fade show active" id="program-language" role="tabpanel" aria-labelledby="program-language-tab">
                                    <span class="badge btn btn-primary btn-sm mr-2 tag-hand" onclick="addTag('JavaScript')">
                                        <span class="ml-1">JavaScript</span>
                                     </span>
                                    <span class="badge badge-primary mr-2 tag-hand" onclick="addTag('PHP')">
                                        <span class="ml-1">PHP</span>
                                     </span>
                                    <span class="badge badge-secondary mr-2 tag-hand" onclick="addTag('Java')">
                                        <img src="/image/icon/java.svg" height="10px">
                                        <span class="ml-1">Java</span>
                                     </span>
                                    <span class="badge badge-info mr-2 tag-hand" onclick="addTag('HTML')">
                                        <span class="ml-1">HTML</span>
                                     </span>
                                    <span class="badge badge-primary mr-2 tag-hand" onclick="addTag('CSS')">
                                        <span class="ml-1">CSS</span>
                                     </span>
                                    <span class="badge badge-primary mr-2 tag-hand" onclick="addTag('Python')">
                                        <span class="ml-1">Python</span>
                                     </span>
                                    <span class="badge badge-primary mr-2 tag-hand" onclick="addTag('C/C++')">
                                        <span class="ml-1">C/C+</span>
                                     </span>
                                    <span class="badge badge-primary mr-2 tag-hand" onclick="addTag('C#')">
                                        <span class="ml-1">C#</span>
                                     </span>
                                    <span class="badge badge-primary mr-2 tag-hand" onclick="addTag('Go')">
                                        <span class="ml-1">Go</span>
                                     </span>
                                </div>
                                <!--平台框架-->
                                <div class="tab-pane fade" id="frame-work" role="tabpanel" aria-labelledby="frame-work-tab">
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Spring')">
                                        <span class="ml-1">Spring</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Django')">
                                        <span class="ml-1">Django</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Flask')">
                                        <span class="ml-1">Flask</span>
                                     </span>
                                </div>
                                <!--服务器-->
                                <div class="tab-pane fade" id="server" role="tabpanel" aria-labelledby="server-tab">
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Linux')">
                                        <span class="ml-1">Linux</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Nginx')">
                                        <span class="ml-1">Nginx</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Docker')">
                                        <span class="ml-1">Docker</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Ubuntu')">
                                        <span class="ml-1">Ubuntu</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Centos')">
                                        <span class="ml-1">Centos</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Apache')">
                                        <span class="ml-1">Apache</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Windows Server')">
                                        <span class="ml-1">Windows Server</span>
                                     </span>
                                </div>
                                <!--数据缓存-->
                                <div class="tab-pane fade" id="database" role="tabpanel" aria-labelledby="database-tab">
                                    <span class="badge badge-info mr-2 tag-hand" onclick="addTag('MySql')">
                                        <span class="ml-1">MySql</span>
                                     </span>
                                    <span class="badge badge-danger mr-2 tag-hand" onclick="addTag('redis')">
                                        <span class="ml-1">redis</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('mongoDb')">
                                        <span class="ml-1">mongoDb</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('noSql')">
                                        <span class="ml-1">noSql</span>
                                     </span>
                                    <span class="badge badge-info mr-2 tag-hand" onclick="addTag('SqlLite')">
                                        <span class="ml-1">SqlLite</span>
                                     </span>
                                </div>
                                <!--开发工具-->
                                <div class="tab-pane fade" id="develop-tool" role="tabpanel" aria-labelledby="develop-tool-tab">
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Git')">
                                        <span class="ml-1">Git</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('VS Code')">
                                        <span class="ml-1">VS Code</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Visual Studio')">
                                        <span class="ml-1">Visual Studio</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Vim')">
                                        <span class="ml-1">Vim</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('IDEA')">
                                        <span class="ml-1">IDEA</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('eclipse')">
                                        <span class="ml-1">eclipse</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('maven')">
                                        <span class="ml-1">maven</span>
                                     </span>
                                </div>
                                <!--系统设备-->
                                <div class="tab-pane fade" id="system" role="tabpanel" aria-labelledby="system-tab">
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Android')">
                                        <span class="ml-1">Android</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('ios')">
                                        <span class="ml-1">ios</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('Windows')">
                                        <span class="ml-1">Windows</span>
                                     </span>
                                </div>
                                <div class="tab-pane fade" id="have-fun" role="tabpanel" aria-labelledby="have-fun-tab">
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('体育')">
                                        <span class="ml-1">体育</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('娱乐八卦')">
                                        <span class="ml-1">娱乐八卦</span>
                                     </span>
                                    <span class="badge badge-success mr-2 tag-hand" onclick="addTag('闲聊')">
                                        <span class="ml-1">闲聊</span>
                                     </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 验证码：-->
                <div class="row mt-4">
                    <div class="col text-right">
                        <a href="javascript:void(0);">
                            <img src="/captche/images" onclick="this.src='/captche/images?'+Math.random()"/>
                        </a>
                    </div>
                    <div class="form-group mr-3">
                        <input type="text" autocomplete="off" class="form-control" id="issues-CAPTCHA" name="CAPTCHA"
                               th:placeholder="#{publish.issue.CAPTCHA}">
                        <small id="CAPTCHAHelp" class="form-text" style="color: red"
                               th:text="${CAPTCHAMessage}"></small>
                    </div>
                </div>

                <!-- 提交 -->
                <div class="form-group mt-2 text-right">

                    <input onkeydown="if(event.keyCode==13)return false;" type="submit" class="btn btn-success btn-lg" style="width: 200px"
                           th:value="#{publish.issue.submit}"/>
                </div>
            </form>
        </div>

        <div class="col">
            <br/>
            <br/>
            <h5>问题发起指南</h5>
            <br/>
            <small class="text-muted">•<span style="font-weight: bold;">问题标题：</span>请用<span
                    style="color: red; font-weight: bold;">精简</span>的语言描述您发布的问题，不超过25字。
            </small>
            <br/><br/>
            <small class="text-muted">•<span style="font-weight: bold;">问题补充：</span>详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料。
            </small>
            <br/><br/>
            <small class="text-muted">•<span style="font-weight: bold;">选择标签：</span>选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字。
            </small>
            <br/><br/>
            <h5>编辑器使用指南</h5>
            <br/>
            <small class="text-muted">•<span style="font-weight: bold;">关闭实时预览：</span>点击编辑器菜单栏上的眼睛图标即可关闭。
            </small>
            <br/><br/>
            <small class="text-muted">•<span style="font-weight: bold;">emoji表情：</span>选中表情后点击确认即可添加，直接点击表情是没办法添加的。
            </small>
            <br/><br/>
            <small class="text-muted">•<span style="font-weight: bold;">图片上传指南：</span>点击编辑器菜单栏上的图片图标即可选择上传图片，最大支持<span
                    style="color: red; font-weight: bold;">10MB</span>的图片上传。
            </small>
            <br/><br/>
            <small class="text-muted">•<span style="font-weight: bold;">最后：</span>友善发帖，并遵守国家相关法律法规，互联网并非法外之地。</small>
            <div class="container mt-2 text-center"><img class="border w-100"
                                                         src="/image/v2-c277d2ad52b61fcd3fa82577575efc4c_r.jpg"/></div>
            <br/><br/>
            <br/><br/>
            <div class="container" style="">
                广告位招租
            </div>
            <br/>
            <!-- 图片轮播 -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="First slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="Second slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="Third slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container" style="height: 30px">
</div>
<!-- 页脚 -->
<div th:insert="~{footer :: footer}"></div>
<script src="/js/tag/bootstrap-tagsinput.min.js"></script>
<script src="/js/url.js" type="text/javascript"></script>
<script src="/js/publish.js" type="text/javascript"></script>
</body>
</html>