<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.png"/>
    <link rel="bookmark" href="/favicon.png"/>
    <title th:text="${question.title}">问题</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/question.css">
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/vue.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <style type="text/css">
        body {
        / / background-image: url("https://api.isoyu.com/bing_images.php");
            background-color: #efefef;
        }

        .issue-right {
            border-right-style: solid;
            border-right-width: 1px;
            border-right-color: #efefef;
        }

        .people-name {
            color: #007bff;
        }

        .people-name:hover {
            color: #007bff;
        }

        .edit-a {
            font-size: 90%;
            font-weight: 400;
            color: #999;
        }

        .edit-a:hover {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        .question-comment {
            border-bottom: solid 1px rgba(0, 0, 0, .1);
        }
    </style>
</head>
<body>
<!-- 标题栏 使用  fixed-top 将标题栏固定在顶部 -->
<div th:insert="~{navigation :: navbar}"></div>

<div class="container" style="height: 30px">
</div>

<!-- 问题页面 -->
<div class="container shadow-sm" style="background-color: white;">
    <div class="row">
        <div class="col-xl-9 mt-3 issue-right">
            <!-- 标题 -->
            <h3 th:text="${question.title}">

            </h3>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <p class="mb-0 mt-2 small" style="color: #c6c5c1;">
                            <a class="issuse-question-class" href="#" th:text="${question.classification}">分类</a>
                            <span class="ml-3" style="color: #c6c5c1;">作者：</span><a class="people-name ml-0"
                                                                                    th:href="'/user/'+ ${question.user.getUserId()}"
                                                                                    th:text="${question.user.getUserName()}">人名</a>&nbsp;|&nbsp;
                            发布于：<span th:text="${question.createTime}"></span>&nbsp;|&nbsp;
                            阅读数：<span th:text="${question.viewCount}"></span>
                        </p>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-secondary btn-sm mb-0" style="height: 30px;width: 100px">
                            关注 <span class="badge badge-light" th:text="${question.likeCount}">4</span>
                        </button>

                    </div>
                </div>
            </div>
            <hr>
            <input type="hidden" id="questionId" th:value="${question.getQuestionId()}">
            <!-- 内容 -->
            <div class="container">
                <div th:text="${question.description}"></div>
            </div>
            <hr/>
            <!-- 编辑 -->
            <div class="container text-right"
                 th:if="${session.user != null && session.user.getId() == question.user.getId()}">
                <a class="edit-a" th:href="'/publish/' + ${question.getQuestionId()}"><img src="/image/icon/edit.svg"
                                                                                           width="18" height="18">&nbsp;编&nbsp;辑</a>
            </div>

            <!--回复导航-->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4><span th:text="${question.commentCount}">16</span>个回复</h4>
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div>
            <hr class="mt-2"/>
            <!-- 显示回复 -->
            <div class="container">
                <div class="media mt-4 question-comment" th:each="comment : ${comments}">
                    <img class="align-self-start mr-3" th:src="'/' + ${comment.user.getHeadUrl()}" width="40"
                         height="40">
                    <div class="media-body">
                        <a class="mt-0 ml-0 issuse-question-people"
                           th:href="${'/user/' + comment.user.getUserId()}"><span
                                th:text="${comment.user.getUserName()}">顶部对齐</span></a>
                        <p class="mt-2" th:text="${comment.getContent()}">Cras sit amet nibh libero, in gravida nulla.
                            Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at,
                            tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                            congue felis in faucibus.</p>
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <button type="button" class="btn btn-outline-primary btn-sm">
                                    <img src="/image/icon/clicklike.svg" width="auto" height="20">
                                    <span class="badge badge-light" th:text="${comment.getLikeCount()}">0</span>
                                </button>
                                <button type="button" class="btn btn-outline-dark btn-sm ml-2"
                                        th:data-id="${comment.getCommentId()}"
                                        onclick="showSecondComment(this)">
                                    <img src="/image/icon/comment.svg" width="auto" height="20">
                                    <span class="badge badge-light" th:text="${comment.getCommentCount()}">0</span>
                                </button>
                            </div>
                            <div class="col text-right">
                                <p th:text="${comment.getModifiedTime()}"></p>
                            </div>
                        </div>

                            <!-- 回复评论的评论  二级评论 -->
                            <div class="collapse mt-2  shadow-sm second-comment ml-2 mr-3 border"
                                 th:id="${'comment-' + comment.getCommentId()}">

                                <div class="container" style="padding: 0px;" th:id="${'commentBody-' + comment.getCommentId()}">

<!--
                                    <div class="media mt-3 mr-2 ml-2">
                                        <img class="align-self-start mr-3" src="/image/head/boyhead.png" width="35"
                                             height="35">
                                        <div class="media-body">
                                            <div class="row mt-0">
                                                <div class="col">
                                                    <p><a href="#">顶部对齐</a>&nbsp;<span>2019-08-31 18:45</span></p>
                                                </div>
                                                <div class="col text-right">
                                                    <a href="#">删除</a>&nbsp;
                                                    <a href="#">回复</a>
                                                </div>
                                            </div>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                                                viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                                Donec lacinia congue felis in faucibus.</p>
                                            <a href="#">
                                                <img src="/image/icon/clicklike.svg" width="auto" height="20">
                                                <span class="badge badge-light">0</span>
                                            </a>
                                            <a href="#">
                                                <img src="/image/icon/comment.svg" width="auto" height="20">
                                                <span class="badge badge-light">0</span>
                                            </a>
                                            <hr/>
                                        </div>
                                    </div>-->


                                    <div class="container second-comment-text ml-0 mr-0">
                                        <div class="row">
                                            <div class="col mt-4 ml-2 mr-2">
                                                <div class="form-group">
                                                    <!-- 评论内容 -->
                                                    <textarea class="form-control" th:id="${'second-content-' + comment.getCommentId()}"
                                                              rows="1"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col text-right">
                                                <a href="javascript:void(0);">
                                                    <img src="/captche/images"
                                                         onclick="this.src='/captche/images?'+Math.random()"
                                                         height="40dp"/>
                                                </a>
                                            </div>
                                            <div class="col mb-2">
                                                <input type="text" height="40dp" class="form-control mt-1"
                                                       th:id="${'second-captcha-' + comment.getCommentId()}" placeholder="验证码">
                                            </div>
                                            <div class="col text-right">
                                                <button type="button" th:data-id="${comment.getCommentId()}" class="btn btn-success btn-sm mr-2 mt-2"
                                                    onclick="twoLevelComment(this)">提交
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <!-- 评论区 -->
            <div class="container">
                <div class="form-group">
                    <!-- 评论区上用户头像 -->
                    <div class="media mb-2" th:if="${session.user != null}">
                        <img class="align-self-center mr-3 img-fluid rounded-circle"
                             th:src="'/' + ${session.user.getHeadUrl()}" width="40" height="40">
                        <p class="mt-2"><a th:href="${'/user/' + session.user.getUserId()}"><span
                                th:text="${session.user.getUserName()}"></span></a></p>
                        <input type="hidden" id="userId" th:value="${session.user.getId()}">
                    </div>
                    <div class="mt-2 mb-2" th:if="${session.user == null}">评论</div>
                    <!-- 评论内容 -->
                    <textarea class="form-control" id="content" rows="6"></textarea>
                </div>

                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-outline-secondary">上传附件</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col text-right">
                        <a href="javascript:void(0);">
                            <img src="/captche/images" onclick="this.src='/captche/images?'+Math.random()"/>
                        </a>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control mt-2" id="captcha" placeholder="验证码">
                        </div>
                    </div>
                    <div class="col text-right">
                        <button type="button" class="btn btn-success mt-2" onclick="comment()">提交</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 右边 -->
        <div class="col">
            <br/>
            <br/>
            <h5>发起人</h5>
            <br/>
            <div class="container text-center">
                <img class="rounded-circle" th:src="'/'+${question.user.getHeadUrl()}" alt="用户头像" width="60"
                     height="60"/>
                <a th:href="'/user/'+ ${question.user.getUserId()}"><p th:text="${question.user.getUserName()}"></p></a>
            </div>

            <br/><br/>
            <h5>相关问题</h5>
            <div class="container">

            </div>

            <br/><br/>
            <div class="container" style="">
                广告位招租
            </div>
            <br/>
            <!-- 图片轮播 -->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="First slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="Second slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href=""><img class="d-block w-100" src="/image/101-desktop-wallpaper.png"
                                        alt="Third slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container" style="height: 30px">
</div>

<!-- 页脚 -->
<div th:insert="~{footer :: footer}"></div>


<script src="/js/url.js" type="text/javascript"></script>
<script src="/js/comment.js" type="text/javascript"></script>
</body>
</html>